<h1>Пользователи аукциона</h1>
<p>В этом разделе можно просмотреть список всех пользователей нашего аукциона и даже немного его подправить, пока разработчик это позволяет :-)</p>

<table>
  <tr>
    <th>Пользователь</th>
    <th>Полное имя</th>
    <th>E-mail</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %>(<%= user.rating.to_i %>)</td>
    <td><%= user.fullname %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Лоты', user_lots_path(user) %> (<%= user.lots.count %>)</td>
    <td><%= link_to 'Отзывы', user_feedbacks_path(user) %> (<%= user.feedbacks.count %>)</td>
    <td></td>
    <% if is_admin? %>
    <td><%= link_to 'Удалить', user, confirm: 'Точно удалить?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>