<div id="header">
  <ul class="hmenu">
    <li><%= link_to "Главная", root_path %></li>
    <li><%= link_to "Лоты", lots_path %></li>
    <li><%= link_to "Пользователи", users_path %></li>
    <li><%= link_to "Помощь", help_path %></li>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
    <li>Текущее время: <%= Russian::strftime(Time.now) %></li>
  </ul>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>
</div>
<hr />
